<div class="dashboard-container">
	<div class="dashboard-layout-wrapper">
		<div class="dashboard-header">
			<div class="date-container">
				<div class="current-date-display">
					<div class="date-wrapper">
						{{date}}
					</div>
					<div class="calendar-wrapper">
						<span class="calendar-logo material-icons">
							calendar_today
						</span>
					</div>
				</div>
				<h3 class="current-day-header"><span>{{ weekday }}, {{ month }} {{ date }}</span></h3>
			</div>
		</div>
		<div class="dashboard-center">
			<ng-container *ngIf="activeGoal; then showActiveGoal; else showCreateGoal">

			</ng-container>

			<ng-template #showActiveGoal>
				<div class="active-goal-container">
					<div class="current-goal-header-wrapper">
						<h1>Current goal: {{activeGoal.name}}</h1>
						<h1>7 days left</h1>
						<div>
							<h4 class="divider-line"><span></span></h4>
						</div>
					</div>
					<div class="current-goal">
						<div *ngIf="loginService.userData as user">
							<h3>{{ user.email }}'s fitness program</h3>
						</div>
						<div>
							<p class="goal-start-date">Started: {{activeGoal.startDate}} </p>
							<p class="goal-end-date">End date: {{activeGoal.endDate}} </p>
						</div>
					</div>

					<div class="progress-bar">
						<mat-progress-bar [value]="progresValue" *ngIf="progresValue >= 0" color="accent"
							mode="determinate">
						</mat-progress-bar>
					</div>

					<div class="complete-goal-container" *ngIf="progresValue === 100">
						<button (click)="completeGoal()" class="complete-goal-btn">Complete Goal</button>
					</div>

					<div class="program-details-wrapper">
						<div class="program-details-header-wrapper" (click)="toggleProgramDetails()">
							<h4>Program details</h4>
							<ng-container *ngIf="programDetailsOpen; then detailsOpen; else detailsClosed">

							</ng-container>

							<ng-template #detailsOpen>
								<span class="expand_less_icon material-icons">
									expand_less
								</span>
							</ng-template>

							<ng-template #detailsClosed>
								<span class="expand_more_icon material-icons">
									expand_more
								</span>
							</ng-template>
						</div>
						<div *ngIf="programDetailsOpen" class="program-details">
							<div class="show-active-goal-workouts">
								<div class="pricing-table"
									*ngFor="let workout of activeGoal.program.workouts; index as i"
									[ngClass]="{'basic': i % 1 === 0, 'standard' : i % 2 === 0, 'premium' : i % 3 === 0}">
									<span class="table-head">
										{{ workout.name }}
									</span>
									<span class="price">
										{{ workout.type }}
									</span>
									<span class="table-row" *ngFor="let exercise of workout['exercises']">{{
										exercise.name }}
									</span>
									<div class="purchase">
										<ng-container *ngFor="let completed of completeWorkouts">
											<ng-container *ngIf="completed.workout === workout.id">
												<ng-container
													*ngIf="completed.completed; then showCheckmark; else showButton">

												</ng-container>
											</ng-container>

										</ng-container>
										<ng-template #showCheckmark>
											<span class="material-icons">
												task_alt
											</span>
										</ng-template>

										<ng-template #showButton>

											<a class="buy" (click)="completedWorkouts(workout)">Complete</a>
										</ng-template>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ng-template>

			<ng-template #showCreateGoal>
				<div class="create-goal-container">
					<div class="create-goal-headers">
						<h3>Programs</h3>
						<h3>Workouts</h3>
					</div>

					<div class="create-goal-wrapper">
						<div class="create-goal-programs">
							<h3 *ngFor="let program of programsArray" (click)="setActiveProgram(program)"
								[class.create-goal-program-active]="program === activeProgram">{{program.name }}
							</h3>
						</div>

						<div class="create-goal-workouts">
							<ul>
								<li>
									<div *ngFor="let program of programsArray; ;">
										<div *ngIf="activeProgram && program.id === activeProgram.id">
											<ul>
												<li *ngFor="let workout of program.workouts; index as i">
													<div class="create-goal-exercises">
														<h3>Workout: {{i + 1}}, {{workout['name']}}</h3>
														<ul>
															<li *ngFor="let exercise of workout['exercises']">
																{{exercise.name}}
															</li>
														</ul>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</div>

					</div>
				</div>
				<div class="confirm-add-goal-wrapper">

					<button class="confirm-add-goal-btn" (click)="addNewGoal(activeProgram)">Add goal</button>
					<mat-form-field appearance="fill" class="end-date-input">
						<mat-label>End date</mat-label>
						<input type="text" matInput [(ngModel)]="goalEndDate" name="endDate" placeholder="e.g 24/7">
					</mat-form-field>
				</div>
			</ng-template>
			<div class="completed-goals-wrapper">
				<div class="completed-goals-header-wrapper">
					<h1>Completed Goals</h1>
					<div>
						<h4 class="divider-line"><span></span></h4>
					</div>
				</div>
				<div class="completed-goal-wrapper">
					<div *ngFor="let goal of completedGoals; index as i" class="completed-goal"
						(click)="toggleCompletedGoalDetails(i)">
						<div class="completed-goal-header">
							<h3>{{goal.program.name}} {{ i+1 }}</h3>

							<ng-container *ngIf="completedGoalDetailsOpen[i]; then detailsOpen; else detailsClosed">
							</ng-container>

							<ng-template #detailsOpen>
								<span class="expand_less_icon material-icons">
									expand_less
								</span>
							</ng-template>

							<ng-template #detailsClosed>
								<span class="expand_more_icon material-icons">
									expand_more
								</span>
							</ng-template>
						</div>
						<div *ngIf="completedGoalDetailsOpen[i]" class="program-details">
							<div class="show-completed-goals-workouts">

								<div class="show-active-goal-workouts">
									<div class="completed-pricing-table"
										*ngFor="let workout of goal.program.workouts; index as i"
										[ngClass]="{'basic': i % 1 === 0, 'standard' : i % 2 === 0, 'premium' : i % 3 === 0}">
										<span class="table-head">
											{{ workout.name }}
										</span>
										<span class="price">
											{{ workout.type }}
										</span>
										<span class="table-row" *ngFor="let exercise of workout['exercises']">{{
											exercise.name }}
										</span>
										<br>
										<span class="material-icons checker">
											task_alt
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>