<div class="dashboard-navigation">
  <div>
    <button mat-raised-button class="navigation-buttons" (click)="redirectToWorkouts()"
      color="primary">Workouts</button>
  </div>
  <div>
    <button mat-raised-button class="navigation-buttons" (click)="redirectToPrograms()"
      color="primary">Programs</button>
  </div>
  <div>
    <button mat-raised-button class="navigation-buttons" (click)="redirectToExercises()"
      color="primary">Exercises</button>
  </div>
</div>
<div class="vertical-line"></div>