<div class="login-container">
  
    <svg width="978" height="827" viewBox="0 0 978 827" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M977.5 413.5C977.5 641.518 758.873 826.5 489 826.5C219.127 826.5 0.5 641.518 0.5 413.5C0.5 185.482 219.127 0.5 489 0.5C758.873 0.5 977.5 185.482 977.5 413.5Z" stroke="white" stroke-opacity="0.1"/>
      <path d="M922.5 404.5C922.5 601.584 730.52 761.5 493.5 761.5C256.48 761.5 64.5 601.584 64.5 404.5C64.5 207.416 256.48 47.5 493.5 47.5C730.52 47.5 922.5 207.416 922.5 404.5Z" stroke="white" stroke-opacity="0.25"/>
      <path d="M868.5 406C868.5 570.757 700.719 704.5 493.5 704.5C286.281 704.5 118.5 570.757 118.5 406C118.5 241.243 286.281 107.5 493.5 107.5C700.719 107.5 868.5 241.243 868.5 406Z" stroke="white" stroke-opacity="0.4"/>
      <circle cx="181" cy="240" r="5" fill="#4890DE"/>
      <circle cx="181" cy="240" r="4.5" stroke="white" stroke-opacity="0.4"/>
      <circle cx="256" cy="637" r="5" fill="#7E8DBE"/>
      <circle cx="256" cy="637" r="4.5" stroke="white" stroke-opacity="0.4"/>
      <circle cx="104" cy="555" r="4" fill="#758EC4"/>
      <circle cx="104" cy="555" r="3.5" stroke="white" stroke-opacity="0.25"/>
      <circle cx="76" cy="322" r="4" fill="#5590D7"/>
      <circle cx="76" cy="322" r="3.5" stroke="white" stroke-opacity="0.25"/>
    </svg>
  
  <div class="login-wrapper">

    <div class="header-text-wrapper">
      <h2>MeFit Login</h2>
    </div>
      
		<div class="logo-wrapper">
			<span class="login-logo material-icons">fitness_center</span>
		</div>

		<form 
			(ngSubmit)="logInUser()"
			#loginForm="ngForm"
			class="login-form"
			>
			<mat-form-field class="login-form-input" appearance="fill">
				<mat-label>Email</mat-label>
				<input 
					type="email"
					matInput
					[(ngModel)]="email"
					name="email"
					placeholder="johndoe@example.com"
					>
			</mat-form-field>
		
			<mat-form-field class="login-form-input" appearance="fill">
				<mat-label>Password</mat-label>
				<input 
					type="password"
					matInput
					[(ngModel)]="password"
					name="password"
					>
			</mat-form-field>
		
			<button 
				mat-raised-button 
				type="submit"
				class="login-btn" 
				color="primary"
				>
				Login
			</button>
			<span *ngIf="error"> {{ error }}</span>
		</form>
		<button 
			class="goto-signup-btn"
			(click)="redirectRegistration()"
			color="primary"
			>
			Sign up
		</button>
		
		<h4 class="divider-line">		<!-- Divider -->
			<span class="divider-text">
				OR
			</span>
		</h4> 

		<button 
			class="google-login-btn"
			(click)="loginService.GoogleAuth()"
			color="primary"
			>
			<img 
				width=300
				src="../../../assets/image/google-signin.png"
				>
		</button>
		
      
  </div>
</div>